<div class="row">
  <div class="col-lg-2">{{>nav}}</div>

  <main>
    <h1 class="scheduleHeader">Schedule</h1>
    <br />
    <br />
    <br />
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="day">Monday</h5>
            <p class="subject">{{subject_id}}</p>
            <p class="teacher">{{teacher_id}}</p>
            <br />
            <p class="time">1:00PM-3:00PM</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="day">Tuesday</h5>
            <p class="subject">{{subject_id}}</p>
            <p class="teacher">{{teacher_id}}</p>
            <br />
            <p class="time">2:00pm-5:00pm</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="day">Wednesday</h5>
            <p class="subject">{{subject_id}}</p>
            <p class="teacher">{{teacher_id}}</p>
            <br />
            <p class="time">1:00PM-3:00PM</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="day">Thursday</h5>
            <p class="subject">{{subject_id}}</p>
            <p class="teacher">{{teacher_id}}</p>
            <br />
            <p class="time">2:00-5:00PM</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="day">Friday</h5>
            <p class="subject">{{subject_id}}</p>
            <p class="teacher">{{teacher_id}}</p>
            <br />
            <p class="time">1:00PM-3:00PM</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>