<div id="navbar">{{> nav}}</div>

<main class="container scrollBkg">
  <p class="profile-header">Student Profile</p>
      <section>
        <ul class="profile-info">
          <li>Name: {{students.first_name}}</li>
          <li>Surname: {{students.last_name}}</li>
          <li>ID: {{students.id}}</li>
          <li>Email Address: {{students.email}}</li>
          <li>Head of House: {{students.house.house_head}}</li>
        </ul>
      </section>
  <br>
    <div class="row">
      <section>
        <p class="house-header">The Sorting Hat has placed you into...</p>
        <div class="container2">
      <div class="avatar">
        <img class="tsunami" src="/public/images/tsunami.jpg" alt="Skytsunami" />
      </div>
      <div class="content">
        <p class="house-name">{{students.house.house_name}}</p>
        <div class="d-flex justify-content-center">     
          <img class="house-crest" src={{students.house.file_name}} alt="house-image">
        </div>    
        <p class="house-desc">{{students.house.description}}</p>
      </section>
    </div>
</main>
<script>
  console.log({{House}})
</script>