<div id="navbar">{{> nav}}</div>

<main class="hero container">
  <p class="profile-header">Student Profile</p>
    <div class="row">
      <section class="col-lg-6">
        <ul class="profile-info">
          <li>Name: {{first_name}}</li>
          <li>Surname: {{last_name}}</li>
          <li>ID: {{student_id}}</li>
          <li>Email Address: {{email}}</li>
          <li>Head of House: {{teacher_id}}</li>
        </ul>
      </section>
      <section class="col-lg-6">
        <p class="house-header">You are in...</p>
        <p class="house-name">{{house_name}}</p>
        {{!-- placeholder image --}}
        <img src="/public/images/gryffindorCrest.jpg" alt="lion-crest">
        <p class="house-desc">{{description}}</p>
      </section>
    </div>
</main>
